body {
  padding-top: 70px;
}
.panel-crontab {
	margin-top: 25px;
}
.empty-search {
	padding: 15px;
}

.table > thead > tr > td.inactive,
.table > tbody > tr > td.inactive,
.table > tfoot > tr > td.inactive,
.table > thead > tr > th.inactive,
.table > tbody > tr > th.inactive,
.table > tfoot > tr > th.inactive,
.table > thead > tr.inactive > td,
.table > tbody > tr.inactive > td,
.table > tfoot > tr.inactive > td,
.table > thead > tr.inactive > th,
.table > tbody > tr.inactive > th,
.table > tfoot > tr.inactive > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.inactive:hover,
.table-hover > tbody > tr > th.inactive:hover,
.table-hover > tbody > tr.inactive:hover > td,
.table-hover > tbody > tr:hover > .inactive,
.table-hover > tbody > tr.inactive:hover > th {
  background-color: #f5f5f5;
}

.at-command-error-output {
	display: block;
	margin-top: 10px;
}

mark, .mark {
	padding: 0.2em 0;
}

.panel-crontab > .table {
	margin-top: 10px;
}
/* Align data and search field's edges */
.panel-crontab > .table > thead > tr > th:first-child,
.panel-crontab > .table > tbody > tr > th:first-child,
.panel-crontab > .table > tfoot > tr > th:first-child,
.panel-crontab > .table > thead > tr > td:first-child,
.panel-crontab > .table > tbody > tr > td:first-child,
.panel-crontab > .table > tfoot > tr > td:first-child {
	padding-left: 15px;
}

.panel-crontab > .table > thead > tr > th:last-child,
.panel-crontab > .table > tbody > tr > th:last-child,
.panel-crontab > .table > tfoot > tr > th:last-child,
.panel-crontab > .table > thead > tr > td:last-child,
.panel-crontab > .table > tbody > tr > td:last-child,
.panel-crontab > .table > tfoot > tr > td:last-child {
	padding-right: 15px;
}