body {
  padding-top: 70px;
}
.panel-crontab {
	margin-top: 25px;
}
.panel-crontab > .table {
	margin-top: 10px;
}
.empty-search {
	padding: 15px;
}

.table > thead > tr > td.inactive,
.table > tbody > tr > td.inactive,
.table > tfoot > tr > td.inactive,
.table > thead > tr > th.inactive,
.table > tbody > tr > th.inactive,
.table > tfoot > tr > th.inactive,
.table > thead > tr.inactive > td,
.table > tbody > tr.inactive > td,
.table > tfoot > tr.inactive > td,
.table > thead > tr.inactive > th,
.table > tbody > tr.inactive > th,
.table > tfoot > tr.inactive > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.inactive:hover,
.table-hover > tbody > tr > th.inactive:hover,
.table-hover > tbody > tr.inactive:hover > td,
.table-hover > tbody > tr:hover > .inactive,
.table-hover > tbody > tr.inactive:hover > th {
  background-color: #f5f5f5;
}

.at-command-error-output {
	display: block;
	margin-top: 10px;
}

mark, .mark {
	padding: 0.2em 0;
}

/* Align data and search field's edges */
.panel-crontab > .table > thead > tr > th:first-child,
.panel-crontab > .table > tbody > tr > th:first-child,
.panel-crontab > .table > tfoot > tr > th:first-child,
.panel-crontab > .table > thead > tr > td:first-child,
.panel-crontab > .table > tbody > tr > td:first-child,
.panel-crontab > .table > tfoot > tr > td:first-child {
	padding-left: 15px;
}

.panel-crontab > .table > thead > tr > th:last-child,
.panel-crontab > .table > tbody > tr > th:last-child,
.panel-crontab > .table > tfoot > tr > th:last-child,
.panel-crontab > .table > thead > tr > td:last-child,
.panel-crontab > .table > tbody > tr > td:last-child,
.panel-crontab > .table > tfoot > tr > td:last-child {
	padding-right: 15px;
}

/* Job add form */
.job-add-form {
	margin-top: 30px;
}
.job-add-form .input-hour, .job-add-form .input-minute {
	width: 45px;
	display: inline-block;
}
.job-add-form .list-specific-times {
	margin-left: 25px;
}
.job-add-form .list-specific-times > li {
	margin-bottom: 10px;
}
.job-add-form .row-customize-weekly,
.job-add-form .row-customize-monthly,
.job-add-form .row-customize-yearly {
	margin-top: 20px;
}

/* Nested button groups */
.btn-group > .btn-group {
    clear: both;
	margin-left: 0px !important;
}
	.btn-group > .btn-group:not(:first-child) > .btn {
		margin-top: -1px;
	}
	/* Top left corner */
	.btn-group > .btn-group:first-child > .btn:first-child {
		border-top-left-radius: 1;
		border-bottom-left-radius: 0;
	}
	/* Top right corner */
	.btn-group > .btn-group:first-child > .btn:last-child {
		border-top-right-radius: 1;
		border-bottom-right-radius: 0;
	}
	/* Bottom left corner */
	.btn-group > .btn-group:last-child > .btn:first-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 1;
	}
	/* Bottom right corner */
	.btn-group > .btn-group:last-child > .btn:last-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 1;
	}

.job-add-form .repeat {
	width: 100px;
}
.job-add-form .month {
	width: 150px;
}
.btn-group-day-picker .btn {
	width: 42px;
}